.sidebar {
  grid-area: sidebar;
  overflow: auto;
}
.texteditor {
  overflow: hidden;
  grid-area: texteditor;
}
.terminal {
  overflow: auto;
  grid-area: terminal;
}

.hresize {
  grid-area: hresize;
  cursor: ew-resize;
}

.vresize {
  grid-area: vresize;
  cursor: ns-resize;
}

.topBar {
  grid-area: topbar;
}

.bottomBar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 1.5rem;
}

.gridContainer {
  display: grid;
  grid:
    "sidebar hresize topbar"
    "sidebar hresize texteditor"
    "sidebar hresize vresize"
    "sidebar hresize terminal";
    
  background-color: coral;
  height: calc(100vh - 1.5rem);
}

.gridContainer > div {
  background-color: #d3dbe5;
}
