.container {
  display: flex;
  align-items: center;
  padding: 8px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  pointer-events: none;
}

.container * {
  pointer-events: auto;
}

.rightSide {
  margin-left: auto;
}
