.container {
  display: flex;
  align-items: flex-end;
}

.container * {
  pointer-events: auto;
}

.rightSide {
  margin-left: auto;
  padding: 8px;
}

.tabBar {
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  display: flex;
  align-items: flex-end;
}

.activeFileName {
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.fileName {
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.close {
  display: inline-block;
  color: inherit;
}

.close:hover {
  color: red;
}