.root {
  height: 100%;
}
.list {
  padding: 0;
  list-style: none;
}
.list .list {
  padding-left: 1em;
}
.item {
  display: flex;
  align-items: center;
  height: 1.5em;
  cursor: pointer;
  justify-content: space-between;
}

.selected {
  background: #bdbdbd;
}
