.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}