.circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #f44336;
}
.initials {
  text-align: center;
  line-height: 48px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}
