.sidebar {
  grid-area: sidebar;
  resize: horizontal;
  border: 2px solid;
  overflow: auto;
  min-width: 150px;
}
.texteditor {
  overflow: auto;
  border: 2px solid;
  resize: vertical;
  grid-area: texteditor;
}
.terminal {
  overflow: auto;
  grid-area: terminal;
}

.gridContainer {
  display: grid;
  grid:
    "sidebar texteditor"
    "sidebar terminal";
  grid-template-columns: auto auto;
  grid-template-rows: min-content auto auto;
  background-color: coral;
  grid-gap: 8px;
  padding: 8px;
  height: 100vh;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
}
