.sidebar {
  grid-area: sidebar;
  overflow: auto;
}
.texteditor {
  overflow: hidden;
  grid-area: texteditor;
}
.terminal {
  overflow: auto;
  grid-area: terminal;
}

.hresize {
  grid-area: hresize;
}

.vresize {
  grid-area: vresize;
}

.gridContainer {
  display: grid;
  grid:
    "sidebar hresize texteditor"
    "sidebar hresize vresize"
    "sidebar hresize terminal";
  background-color: coral;
  /* grid-gap: 8px; */
  /* padding: 8px; */
  height: 100vh;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
}
