.sidebar {
  grid-area: sidebar;
  overflow: auto;
}
.texteditor {
  overflow: hidden;
  grid-area: texteditor;
}
.terminal {
  overflow: auto;
  grid-area: terminal;
}

.hresize {
  grid-area: hresize;
  cursor: ew-resize;
}

.vresize {
  grid-area: vresize;
  cursor: ns-resize;
}

.topBar {
  grid-area: topbar;
}

.gridContainer {
  display: grid;
  grid:
    "sidebar hresize  topbar"
    "sidebar hresize texteditor"
    "sidebar hresize vresize"
    "sidebar hresize terminal";
  background-color: coral;
  height: 100vh;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
}
